{% if ticket is defined %}
    <h1>Mes tickets - {{ticket.alias}}</h1>
    <div id="detailsTicket">
        <div>
            <div class="presentation">
                <p>Ouvert le {{ticket.tstamp|date('d/m/Y H:i')}}</p>
                <p>Statut : {{ticket.printStatut()|raw}}</p>
            </div>
            <div class="description">{{ticket.description|raw}}</div>
            <div class="documents">
                {{ticket.printDocuments()|raw}}
            </div>
            {{ "{{insert_form::ajouter-des-documents}}" }}
        </div>
        {{ include('@Contao/Module/modChat.html.twig') }}
    </div>

{% endif %}